{% extends "home/base.html" %}

{% load static %}

{% block base_head %}

{% block extra_head %}{% endblock %}

{% endblock %}

  {% block base_content %}
    <div class="pusher">
      {% include 'partials/menu.html' %}

      {% include 'partials/messages.html' %}

      {% block content %}{% endblock %}
    </div>


    <div class="ui left vertical menu sidebar">
      <a class="active black item">
        Dashboard
      </a>
      {% block sidebar_content %}{% endblock %}
      <a class="item">
        <i class="cog icon"></i>
        Settings
      </a>
    </div>
    

  {% endblock %}
  
    {% block base_scripts %}
    {% block extra_scripts %}{% endblock %}
    {% endblock %}
  </body>
</html>
