{% extends "home/base.html" %}

{% load static %}

{% block base_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}">
{% endblock %}

{% block base_content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black header">
      <div class="content">
        User Log-in 
      </div>
    </h2>
    <form class="ui large form" method="POST", action="{% url 'login' %}">
      {% csrf_token %}
      <div class="ui stacked segment">
        {{ form.non_field_errors }}
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <!-- <input type="text" name="email" placeholder="E-mail address"> -->
            
            {{ form.email }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <!-- <input type="password" name="password" placeholder="Password"> -->
            {{ form.password.errors }}
            {{ form.password }}
          </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <div class="ui fluid large black submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="{% url 'register' %}">Sign Up</a>
    </div>
  </div>
</div>
{% endblock %}

{% block base_scripts %}
<script>
    $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[3]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
</script>
{% endblock %}
  