{% extends "users/layout.html" %}

{% block content %}

<div class="ui big inverted menu">
  <a class="active item">
    Recruitment Portal
  </a>
  <a class="item">
    Home
  </a>
  <a class="item">
    About
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search for jobs...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>


{% block inner_content %}

{% endblock %}


{% endblock %}